{% extends 'base.html' %}

{% block title_name %} Play Fair Cipher {% endblock %}

{% block content_body %}
    <h3 style="text-align: center; color: navy; margin-top: 50px">Play Fair Cipher</h3>
    <p style="text-align: center; color: black; margin-top: 20px; padding: 30px; padding-top: 0px !important; padding-bottom: 0px !important;">
        The best-known multiple-letter encryption cipher is the Playfair, which treats diagrams
        in the plaintext as single units and translates these units into ciphertext diagrams.<br></p>
    <p style="text-align: center; color: black; margin-top: 20px; padding: 30px; padding-top: 0px !important; padding-bottom: 0px !important;">
        The Playfair algorithm is based on the use of a 5×5 matrix of letters constructed using a keyword. </p>
    <form method="post">

        {% csrf_token %}

        <div class="mb-4">
            <input type="text" class="form-control" placeholder="Enter Data to Encrypt Here" name="q" required
                   autocomplete="off">
        </div>
        <div class="mb-5">
            <input type="text" class="form-control" name="key" placeholder="Enter String Key to Encrypt your data"
                   required autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary btn-lg d-grid gap-2 col-6 mx-auto">Submit</button>
    </form>
    {% if res %}
        <div class="alert alert-success alert-dismissible fade show col-lg" role="alert">
            <strong>Your data is Successfully encrypted</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <p>Your encrypted data is {{ res }}</p>
    {% endif %}

{% endblock %}