{% extends 'base.html' %}

{% block title_name %} Send Email {% endblock %}

{% block content_body %}
    <h3 style="text-align: center; color: navy; margin-top: 50px !important;">Mail Portal</h3>
    <p style="text-align: center; color: black; margin-top: 30px !important; font-size: 18px !important; padding-left: 30px !important; padding-right: 30px !important;">
        Enter subject, body and the "to email address" to send the mail!</p>
    <form method="post">
        {% csrf_token %}

        <div class="mb-4">
            <input type="text" class="form-control" placeholder="Enter Text to Send" name="message" autocomplete="off"
                   required>
        </div>
        <div class="mb-4">
            <input type="text" class="form-control" name="to_email" placeholder="Enter 'to' Email Address"
                   autocomplete="off" required>
        </div>
        <div class="mb-5">
            <input type="text" class="form-control" placeholder="Enter the subject" name="sub" autocomplete="off"
                   required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if res %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ res }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

{% endblock %}